<nav class="navbar">
    <div class="container">
        <a href="{% url 'home' %}" class="navbar-brand">Django Project</a>
        <div class="navbar-links">
            {% if user.is_authenticated %}
                <span>Welcome, {{ user.username }}</span>
                <a href="{% url 'logout' %}" class="nav-link">Logout</a>
            {% else %}
                <a href="{% url 'login' %}" class="nav-link">Login</a>
                <a href="{% url 'signup' %}" class="nav-link">Sign Up</a>
            {% endif %}
        </div>
    </div>
</nav>
